<%= provide :title, t(".title") %>
<div class="import_form">
  <div class="row">
    <div class="body_form">
      <%= form_tag import_users_path, multipart: true do %>
        <div class="row">
          <div class="col-sm-8">
            <%= file_field_tag :file, class: "field_tag", id: "mybutton" %>
          </div>
          <script type="text/javascript">
            $("#mybutton").change(function() {
              filename = this.files[0].name
              document.getElementById("button-submit").style.display="block";
              document.getElementById("button-file").style.display="none";
            });
          </script>
          <div class="col-sm-4" id="button-submit">
            <div class="row btn-submit">
              <button type="submit" class="btn btn-warning my-hover">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <%= t ".button_submit" %>
              </button>
            </div>
          </div>
        </div>
        <div class="row" id="button-file">
          <label for="mybutton" class="btn">
            <div class="row btn-submit">
              <div class="btn btn-warning my-hover" onsubmit="false">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <%= t ".button_text" %>
              </div>
            </div>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-dark">
    <div class="row">
    </div>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t ".name" %></th>
        <th><%= t ".staff_code" %></th>
        <th><%= t ".email" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
        <% @pilots.each_with_index do |pilot, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= pilot.name %></td>
          <td><%= pilot.staff_code %></td>
          <td><%= pilot.email %></td>
          <td>
            <% if current_user.admin? %>
             <%= link_to edit_user_path(id: pilot.id) do %>
                <div class="btn btn-warning my-hover">
                  <i class="fas fa-edit"></i>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
