<div id="request-screen">
  <div id="accordion">
    <div class="card">
      <div class="card-body" id="form-request">
        <h2 class="card-title-custom text-center w-100">
          <%= t ".head" %>
        </h2>
      </div>
      <div class="row" id = "table_error">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

          <table class="table">
            <thead>
              <tr>
                <th><%= t ".stt" %></th>
                <th><%= t ".row" %></th>
              </tr>
            </thead>
            <tbody>
              <% @row_errors.each_with_index do |row, index| %>
                <tr>
                  <th scope="row"><%= index+1 %></th>
                  <th><%= row %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
</div>
